.env

.venv-hopsworks/

.venv-dashboard/

.venv-deploy-test/

.venv

__pycache__/

*.pyc

model_training/artifacts/*
!model_training/artifacts/AQI_GB_24h/
!model_training/artifacts/AQI_GB_24h/scaler.pkl
!model_training/artifacts/AQI_GB_48h/
!model_training/artifacts/AQI_GB_48h/scaler.pkl
!model_training/artifacts/AQI_GB_72h/
!model_training/artifacts/AQI_GB_72h/scaler.pkl

model_training/prediction_result.json

.streamlit/secrets.tomld

data/

test/

verify_feature_grp.py 